[ex:/configure router "Base" bgp]   
    link-state-route-export true    # Allow the export of the TED NLRI database
    link-state-route-import true    # Allow the import of the TED NLRI database
    group "ibgp" {
        peer-as 69000
        family {
            ipv4 true               # Or 'bgp-ls'
        }
        import {
            policy ["AcceptAll"]
        }
        export {
            policy ["Distribute_BGP-LS"]
        }
    }
    neighbor "192.168.12.2" {
        group "ibgp"
        local-address 192.168.12.1
    }

[ex:/configure router "Base" isis 0 database-export]
    igp-identifier 0                  # Unique ID of the IGP instance in the BGP-LS NLRI

    bgp-ls-identifier {               # Enable the bgp-ls-identifier context
        value 0
    }


