[ex:/configure router "Base" bgp]
    link-state-route-export true
    link-state-route-import true
    group "cluster1" {
        peer-as 69000
        cluster {
            cluster-id 2.2.2.2  # Route reflector cluster ID ($self)
        }
        import {
            policy ["AcceptAll"]
        }
        export {
            policy ["Distribute_BGP-LS"]
        }
    }
    group "ibgp" {
        peer-as 69000
        family {
            ipv4 true            # Or 'bgp-ls'
        }
        import {
            policy ["AcceptAll"]
        }
        export {
            policy ["Distribute_BGP-LS"]
        }
    }
    neighbor "192.168.12.1" {
        description "PEERING_TO_SR1"
        group "ibgp"
    }
    neighbor "192.168.22.2" {
        description "PEERING_TO_GOBGP"
        group "cluster1"
    }

